:local {
    .day {
        width: 13.6%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 1px;
    }
    .isAvailable {
        border: 1px solid gray;
    }
    .isSelected {
        border: 1px solid red;
        background-color: #eee;
        text-decoration: underline;
    }
    .isToday {
        font-weight: bold;
    }
    .isBooked {
        background-color: rgb(125, 219, 231);
    }
    .isWeekString {
        background-color: royalblue;
        border: 1px solid blue;
    }
}